* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #2B2733;
}

header {
  height: 5%;
  background-color: #46424D;
  font-family: "Montserrat";
  color: #FFF;
  text-align: center;
  padding: 10px;
}

.page-title {
  font-size: 20px;
  margin: 0.5% auto;
}

main {
  height: inherit;
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.new-activity-title {
  color: #CBC9CF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  align-self: flex-start;
  margin-left: 3.5%;
  margin-bottom: 2.5%;
}

.new-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #46424D;
  height: 80%;
  width: 93%;
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 80px;
  box-sizing: border-box;

}

.button-categories {
  display: flex;
  flex-direction: row;
  height: 33%;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.past-activities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 3px solid #46424D;
  color: #CBC9CF;
  font-family: "Montserrat", sans-serif;
}

.form-text-style {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-size: 16px;
}

.category-button-style {
  background: none;
  border: 2px solid #FFF;
  border-radius: 5px;
  height: 100px;
  width: 181px;
}

.category-button-icons {
  height: 46px;
  width: 46px;
}

/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
