/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #2B2733;
}

.hidden {
  display: none;
}

header {
  height: 5%;
  background-color: #46424D;
  font-family: "Montserrat";
  color: #FFF;
  text-align: center;
  padding: 10px;
}

.page-title {
  font-size: 20px;
  margin: 0.5% auto;
}

main {
  height: inherit;
  display: flex;
}

.left-side {
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}

.new-activity-title {
  color: #CBC9CF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  align-self: flex-start;
  margin-left: 3.5%;
  margin-bottom: 2.5%;
}

.new-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #46424D;
  height: 80%;
  width: 93%;
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 0px 80px;
  box-sizing: border-box;
  justify-content: space-around;
}

.button-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.past-activities {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  border-left: 3px solid #46424D;
  color: #CBC9CF;
  font-family: "Montserrat", sans-serif;
  width: 25%;
}

.form-text-style {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-size: 16px;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.category-button-style {
  background: none;
  border: 2px solid #FFF;
  border-radius: 5px;
  height: 70px;
  width: 181px;
}

.category-button-icons {
  height: 25px;
  width: 25px;
}

.error-message {
  color: #EFB7EC;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

.error-image {
  height: 16px;
  width: 16px;
}

.input-error-border {
  border-color: #EFB7EC;
}

.category-button-style > * {
  pointer-events: none;
}

.study-button-active {
  color: #B3FD78;
  border-color: #B3FD78;
}

.meditate-button-active {
  color: #C278FD;
  border-color: #C278FD;
}

.exercise-button-active {
  color: #FD8078;
  border-color: #FD8078;
}

input {
  color: #CBC9CF;
  border: none;
  background-color: #46424D;
  border-bottom: 2px solid  #CBC9CF;
  margin-top: 5%;
  text-align: justify;
}

form {
  height: 40%;
  width: 100%;
}

.accomplish-input {
  width: 100%;
}

.seconds-input,
.minutes-input {
  width: 100%;
}


.past-activities {
  display: flex;
  flex-wrap: wrap;
}

.past-activities-title {
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
}

.no-activity-message {
  display: flex;
  align-content: space-between;
  text-align: center;
  box-sizing: border-box;
  padding: 5% 20% 0% 20%;
}

.minutes-seconds-container {
  height: 20%;
  margin: 10% auto;
  display: flex;
  justify-content: space-between;
}

.minutes-input-label,
.seconds-input-label {
  width: 40%;
}
